<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Jaguar vs Leopard</title>
    <link rel='stylesheet' href='../static/index.css'>
    <script src='../static/index.js'></script>
  </head>
  <body>
    <div>
      <div class='center'>
        <div class='title'>
          <strong>Image Classification: Jaguar vs Leopard</strong>
        </div>
        <p id="description">
          This image classifier will attempt to accurately distinguish between jaguars and leopards.<br>
          Upload an image of either a <strong>jaguar</strong> or a <strong>leopard</strong> and click <strong>Analyze</strong> to see the model's prediction.
        </p>
        <div class='content'>
          <div class='no-display'>
            <input id='file-input'
                   class='no-display'
                   type='file'
                   name='file'
                   accept='image/*'
                   onchange='showPicked(this)'>
          </div>
          <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
          <div class='upload-label'>
            <label id='upload-label'>No file chosen</label>
          </div>
          <div>
            <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
          </div>
          <div class='analyze'>
            <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
          </div>
          <div class='result-label'>
            <label id='result-label'></label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
